<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Edit Your Profile</h1>
        <p class="text-center">BlahPlaid chartreuse marfa 8-bit, portland messenger bag kogi tote bag. Farm-to-table intelligentsia lyft tote bag, umami humblebrag seitan shoreditch direct trade pok pok. </p>
        <div class="well">
           <%= render 'form' %> <!-- link to the partial form -->
        </div>
    </div>
</div>