// Place all the styles related to the users view here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.job-title-icon{
    display:inline-block;
    width:30px;
    height:30px;
    border:2px solid #000000;
    border-radius: 4px;
    text-align:center;
}
